<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.mosecoza.reportcard">

    <application
        android:fullBackupContent="true"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Home"
            android:label="Home"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterStudents"
            android:label="Register Student"
            android:parentActivityName=".Home">
            <intent-filter>
                <action android:name="android.intent.action.Register" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewAllStudents"
            android:label="Students List"
            android:parentActivityName=".Home">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:parentActivityName=".Home"
            android:name=".EditStudentInformation"
            android:label="Edit Student Information">
        </activity>

    </application>

</manifest>
